@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

// variables style duide

$Almost-White: hsl(0, 0%, 98%);
$Medium-Gray: hsl(0, 0%, 41%);
$Almost-Black: hsl(0, 0%, 8%);

// break points

$bp-desktop: 1440px;




*,::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

html{
    font-size: 62.5%;
    box-sizing: border-box
}


.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    
}