.main_content{
    padding: 2rem 2rem;
    @media only screen and (min-width: $bp-desktop){
        grid-area: txt;
        padding: 10rem;
    }
    .text_field{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: $bp-desktop){
        justify-items: start;
        height: 30vh;
    }
    }
}

h1{
    font-size: 3rem;
    padding-bottom: 2rem;
     @media only screen and (min-width: $bp-desktop){
        align-self: flex-start;
        font-size: 8rem;
    }
}
p{
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: $Medium-Gray;
    @media only screen and (min-width: $bp-desktop){
        text-align: left;
        align-self: flex-start;
        padding: 0 1.5rem 2.5rem 0;
        line-height: 2.9rem;
        font-size: 2rem;
    }
}

button{
    padding: 1.3rem 2rem;
    background-color: $Almost-Black;
    border: none;
    border-radius: 1rem;
    color: $Almost-White;
    @media only screen and (min-width: $bp-desktop){
        align-self: flex-start;
        padding: 1.8rem 2.3rem;
    }
}



